.container {
	width: 100%;
	display: flex;

	.sidenav {
		width: 270px;
		margin-right: 10px;
		background-image: linear-gradient(#132152, rgba(16, 31, 82, 0.8));
		padding: 20px 15px 0 15px;

		.sector {
			margin-bottom: 20px;
			&__title {
				border-bottom: 1px solid #fdd835;
				display: inline-block;
				padding-right: 10px;
				font-size: 1.125rem;
				font-weight: 700;
				padding-bottom: 5px;
				margin: 0 0 10px 0;

			}

			&__item {
				display: flex;
				position: relative;
				margin: 10px 0 0 20px;
				cursor: pointer;
				transition: 0.5s color;

				&:hover{
					color: #e2df54;
				}

				&::after {

					content: '';
					display: block;
					margin-left: -20px;
					margin-top: 0.1em;
					position: absolute;
					width: 13px;
					height: 13px;
					background-color: #fdd835;
					border-radius: 50%;

				}
			}

		}
	}

	.content{
		width: calc(100% - 280px);
	}
}
