<div class="container-one">
	<div class="carousel"></div>
	<div class="item garanty">
		<img class="img-num" height="125" src="assets/images/7.svg">
		<img class="img-text" height="110" src="assets/images/image2.png">
	</div>
	<div class="item made-in">
		<img height="113" src="assets/images/image3.png">
		<img height="30" src="assets/images/image4.png">
	</div>
</div>

<div class="container-two">
	<div class="contact">
		<h4 class="u-custom-font u-font-ubuntu u-text u-text-body-alt-color u-text-5">
			<span>Центральный офис</span>
			<br>
			<span>Адрес офиса:</span> 117403, Россия, г. Москва Востряковский проезд, дом 21, корпус 4<br>
			<span>Телефон:</span> +7 495 775 7017 (многоканальный)<br>
			<span>E-mail:</span> info@cs-trade.com<br>
			<br>
			<span>Производство</span>
			<br>
			<span>Адрес</span>&nbsp;<span>склада</span>
			<span>: </span> 142116, Московская область, Подольский р-н, вблизи Сельхозтехника п., Домодедовское шоссе,
			дом 20Д<br>
			<span>Телефон:</span> +7 495 775 7017 (многоканальный)<br>
			<span>E-mail:</span> info@cs-trade.com<br>
		</h4>
		<div class="map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3A98469a36c83f57721f146549946ab3a67da4fdc60552efe630c2d7b786903f05&amp;source=constructor"
				data-map="https://yandex.ru/maps/?um=constructor%3A98469a36c83f57721f146549946ab3a67da4fdc60552efe630c2d7b786903f05&amp;source=constructorLink"></iframe>
		</div>
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/1.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/2.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/3.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/4.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/51.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/6.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/7.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="202" src="assets/images/Group124.png" alt="">
	</div>
</div>

<div class="container-three">
	<div class="card">
		<img width="147" height="123" src="assets/images/image10.png"/>
		<p>Каталог PDF</p>
	</div>
	<div routerLink="/repair-and-service" class="card">
		<img width="130" height="129" src="assets/images/image7.png"/>
		<p>Ремонт и сервис</p>
	</div>
	<div routerLink="/guarantee-obligation" class="card">
		<img width="103" height="119" src="assets/images/image8.png"/>
		<p>Гарантийное обязательство</p>
	</div>
	<div routerLink="/diplomas-and-documentation" class="card">
		<img width="117" height="109" src="assets/images/image9.png"/>
		<p>Дипломы и тех документация</p>
	</div>
	<div class="card">
		<img width="117" height="118" src="assets/images/cnfnmb.svg"/>
		<p>Статьи</p>
	</div>
</div>

