<div class="container-one">
	<div class="carousel">
		<div #carousel class="images">
			<div *ngFor="let sale of sales" class="image">
				<img [src]="sale_image + sale.id+'/'+ sale.image" alt="">
			</div>
		</div>
		<div (click)="next()" class="next">
			<mat-icon>arrow_forward_ios</mat-icon>
		</div>
		<div (click)="back()" class="back">
			<mat-icon>arrow_back_ios</mat-icon>
		</div>

	</div>
	<div class="item garanty">
		<img class="img-num" height="125" src="assets/images/7.svg">
		<img class="img-text" height="110" src="assets/images/image2.png">
	</div>
	<div class="item made-in">
		<img height="113" src="assets/images/image3.png">
		<img height="30" src="assets/images/image4.png">
	</div>
</div>

<div class="container-two">
	<div class="contact">
		<h4 class="u-custom-font u-font-ubuntu u-text u-text-body-alt-color u-text-5">
			<span>Центральный офис</span>
			<br>
			<span>Адрес офиса:</span> 117403, Россия, г. Москва Востряковский проезд, дом 21, корпус 4<br>
			<span>Телефон:</span> +7 495 775 7017 (многоканальный)<br>
			<span>E-mail:</span> info@cs-trade.com<br>
			<br>
			<span>Производство</span>
			<br>
			<span>Адрес</span>&nbsp;<span>склада</span>
			<span>: </span> 142116, Московская область, г.о. Подольск, пос. Сельхозтехника, Домодедовское шоссе, д. 20
			«Д» , стр. 29 <br>
			<span>Телефон:</span> +7 495 775 7017 (многоканальный)<br>
			<span>E-mail:</span> info@cs-trade.com<br>
			<span>Telegram: </span><a href="https://t.me/CS_trade_official">https://t.me/CS_trade_official</a> <br>
		</h4>
		<div class="map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3A1718112842cc3958db9752f5ea419c6477185d651804633f17a0a1f5fef42e48&amp;source=constructor"
				width="558" height="408" frameborder="0"></iframe>
		</div>
	</div>
	<div (click)="navigateToCategory('Для умывальника')" class="category">
		<img height="270" width="202" src="assets/images/1.png" alt="">
	</div>
	<div (click)="navigateToCategory('Для кухни')" class="category">
		<img height="270" width="202" src="assets/images/2.png" alt="">
	</div>
	<div (click)="navigateToCategory('Смесители для ванной комнаты и душевых кабин')" class="category">
		<img height="270" width="202" src="assets/images/3.png" alt="">
	</div>
	<div (click)="navigateToCategory('Комплектация')" class="category">
		<img height="270" width="202" src="assets/images/4.png" alt="">
	</div>
	<div (click)="navigateToCategory('Душевая система')" class="category">
		<img height="270" width="202" src="assets/images/51.png" alt="">
	</div>
	<div (click)="navigateToCategory('Душевая стойка')" class="category">
		<img height="270" width="202" src="assets/images/6.png" alt="">
	</div>
	<div (click)="navigateToCategory('Шланг душевой')" class="category">
		<img height="270" width="202" src="assets/images/7.png" alt="">
	</div>
	<div (click)="navigateToCategory('Гибкие соединения')" class="category">
		<img height="270" width="202" src="assets/images/Group124.png" alt="">
	</div>
</div>

<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/RBHKle_yQGQ?si=a5qVqd1-WJTe8rey"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>

<div class="container-three">
	<a (click)="getPdf()" class="card">
		<img width="147" height="123" src="assets/images/image10.png"/>
		<p>Скачать <br> каталог PDF</p>
	</a>
	<a routerLink="/repair-and-service" class="card">
		<img width="130" height="129" src="assets/images/image7.png"/>
		<p>Ремонт и сервис</p>
	</a>
	<a routerLink="/guarantee-obligation" class="card">
		<img width="103" height="119" src="assets/images/image8.png"/>
		<p>Гарантийное обязательство</p>
	</a>
	 <a href="https://disk.yandex.ru/d/wj6h5bzvS0KNOA" class="card">
		<img width="117" height="109" src="assets/images/pngwing 8.png"/>
		<p >Скачать прайс лист  РРЦ</p>
	</a>
	<a routerLink="/articles" class="card">
		<img width="117" height="118" src="assets/images/cnfnmb.svg"/>
		<p>Статьи</p>
	</a>
</div>

<a class="linc" #linc target="_blank" download="Catalog.pdf" type="hidden" [href]="baseurl + '/api/imagess/pdf'"></a>

