<div class="wrapper">
	<header>
		<div class="header">
			<a   routerLink="/home" class="header__logo">
				<img src="./assets/images/logo1.svg" alt="">
			</a>
			<div class="header__search">
				<div class="input-field input-field--medium">
					<mat-form-field  appearance="outline" class="example-form-field">
						<mat-label >Поиск</mat-label>
						<input  matInput type="text" >
						<button  matSuffix mat-icon-button >
							<mat-icon>search</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>
			<nav class="header__nav">
				<a routerLink="/home">Главная</a>
				<a routerLink="/sales">Акции</a>
				<a routerLink="/catalog">Каталог</a>
				<a routerLink="/about-us">О компании</a>
				<a routerLink="/contacts">Контакты</a>
			</nav>
			<a *ngIf="!authService.isAuth" routerLink="/auth" class="header__profile">
				<img src="./assets/images/Maskgroup.svg" alt="">
			</a>
			<a *ngIf="authService.isAuth"  [mat-menu-trigger-for]="menu"  class="header__profile">
				<img src="./assets/images/Maskgroup.svg" alt="">
			</a>
		</div>
	</header>

	<main>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</main>

	<footer>
		<div class="footer__content">
			<img src="./assets/images/image.png" alt="">
		</div>
	</footer>
</div>

<mat-menu #menu="matMenu">
	<button routerLink="/administration" *ngIf="authService.isAdmin" mat-menu-item>Панель администратора</button>
	<button (click)="authService.logout()" mat-menu-item>Выход</button>
</mat-menu>

