<h4>СОГЛАШЕНИЕ ДЛЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ И ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h4>
<br>
<p>Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте www.cs-trade.ru, (далее – Сайт), путем заполнения полей в Личном кабинете (регистрации), Пользователь:</p>
<br>
<p>1. Подтверждает, что все указанные им данные принадлежат лично ему;</p>
<br>
<p>2. Подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях регистрации в Личном кабинете (регистрации), текст соглашения и условия обработки персональных данных ему понятны;</p>
<br>
<p>3. Дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;</p>
<br>
<p>4. Выражает согласие с условиями обработки персональных данных без оговорок и ограничений.</p>
<br>
<p>Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.</p>
<br>
<p>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</p>
<br>
<p>Настоящее согласие Пользователя признается исполненным в простой письменной форме, на обработку следующих персональных данных: фамилии, имени, отчества; места пребывания (город, область); номерах телефонов; адресах электронной почты (E-mail), места работы, ИНН компании, тип коммерческой деятельности, информацию о интересующей продукции.</p>
<br>
<p>Пользователь, предоставляет  www.cs-trade.ru право осуществлять следующие действия (операции) с персональными данными: сбор и накопление; хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Пользователем; уточнение (обновление, изменение); использование; уничтожение; обезличивание; передача по требованию суда, в т.ч., третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</p>
<br>
<p>Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи заявления администрации сайта с указанием данных, определенных ст. 14 Закона «О персональных данных».</p>
<br>
<p>Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) info@cs-trade.com</p>
<br>
<p>Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами Информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами.</p>
<br>
<p>Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</p>
<br>
<p>К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению право Российской Федерации.</p>
<br>
<h4>СОГЛАСИЕ НА ПОЛУЧЕНИЕ РАССЫЛОК</h4>
<br>
<p>Подписываясь на SMS- и email-рассылку ПРОИЗВОДСТВЕННО-ТОРГОВАЯ ГРУППА «ЦЕНТР САНТЕХНИКИ» (далее – «ЦС») или третьих лиц, уполномоченных на рассылку от имени «ЦС», в сети Интернет www.cs-trade.ru, я соглашаюсь получать информационную рассылку на телефон и электронный адрес, указанный мной при подписке (регистрации) через сервис подписки информационной рассылки на сайте www.cs-trade.ru.</p>
<br>
<p>Я также ознакомлен с нижеизложенным Пользовательским соглашением и даю разрешение «ЦС» или третьим лицам, уполномоченным на рассылку от имени «ЦС», собирать, хранить и обрабатывать все переданные мною в адрес  «ЦС» мои персональные данные (в том числе фамилии, имени, отчества; места пребывания (город, область); номерах телефонов; адресах электронной почты (E-mail), места работы, ИНН компании, тип коммерческой деятельности, информацию о интересующей продукции) с целью информирования о новостях и других событиях  «ЦС». С правами, возникающими в связи с обработкой моих персональных данных, и целями обработки и использования моих персональных данных ознакомлен.</p>
<br>
<h4>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h4>
<br>
<p>Настоящее Пользовательское соглашение регулирует отношения между Пользователем и  «ЦС» (в том числе третьими лицами, уполномоченными на рассылку от имени «ЦС») в части получения Пользователем информационной рассылки с сайта www.cs-trade.ru и определяет порядок и условия получения информационной рассылки сайта www.cs-trade.ru</p>
<br>
<p>Давая согласие на получение информационной рассылки, Пользователь выражает согласие со следующими условиями:</p>
<br>
<p>1. Пользователь самостоятельно несет ответственность за сохранение и обеспечение сохранности своего номера мобильного телефона и адреса электронной почты при заполнении формы подписки(регистрации), запрашиваемой сайтом www.cs-trade.ru</p>
<br>
<p>2. Пользователь несет полную ответственность за любые действия, совершенные им или третьими лицами, которым он предоставил данные с номером мобильного телефона или адресом электронной почты, в том числе при использовании чужого номера телефона для регистрации, а также за любые последствия, которые могло повлечь или повлекло подобное их использование.</p>
<br>
<p>3. Подписка на получение информационной рассылки, а также получение самой информационной рассылки является бесплатной.</p>
<br>
<p>4. «ЦС» оставляет за собой право по своему усмотрению приостанавливать, ограничивать или прекращать доступ Пользователю к получению им информационной рассылки, на которую он подписан, в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового.</p>
<br>
<p>5. Пользователь несет личную ответственность за всю информацию о номере мобильного телефона и адресе электронной почты, которые он размещает в форме подписке на сайте www.cs-trade.ru подписке на информационную рассылку сайта.</p>
<br>
<p>6. В случае, если Пользователь решит удалить свои данные, отказавшись от информационной рассылки, «ПРАЙМ» имеет право сохранять архивные резервные копии всех персональных данных Пользователя.</p>
<br>
<p>7. «ЦС», а также третьи лица, уполномоченные на рассылку от имени «ЦС», не несут ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в обработке или передаче SMS- или email-сообщений с информационной рассылкой.  «ЦС», а также третьи лица, уполномоченные на рассылку от имени «ЦС», не отвечают за любые технические сбои или иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного оборудования, программного обеспечения, сбоев сервисов.</p>
<br>
<p>8. «ЦС», а также третьи лица, уполномоченные на рассылку от имени «ЦС», подтверждают сохранение в тайне и непредоставление третьим лицам персональных данных Пользователя, оставленных им при подписке на получение информационной рассылки сайта www.cs-trade.ru.</p>
<br>
<p>9. Вся информация, содержащаяся в настоящем Пользовательском соглашении, является полностью конфиденциальной, и Пользователь обязуется соблюдать конфиденциальность всех положений настоящего Пользовательского соглашения таким образом и с таким усердием, как Пользователь соблюдает конфиденциальность собственной конфиденциальной информации. Пользователь принимает на себя любые расходы, убытки, требования и/или иски третьих лиц, поданные в отношении «ЦС» в связи с нарушением конфиденциальности Пользователем указанных требований о конфиденциальности.</p>
