<div class="container">
	<div class="section">
		<h2 class="section__title">Специальные предложения</h2>
		<div class="section__info">
			<div class="sales">
				<div *ngFor="let sale of sales" class="sale">
					<div class="sale_image">
						<img [src]="sale_image + sale.id+'/'+ sale.image" alt="">
					</div>
					<div (click)="expandPanel(sale.id)" class="sale_hide">
						<p>Акционные товары</p>
						<mat-icon>expand_more</mat-icon>
					</div>
					<div [id]="sale.id" class="products">
						<div *ngFor="let product of sale.products" (click)="openProduct(product.guid)" class="product">
							<img *ngIf="product.main_image" [src]="product_image + product.guid+'/'+product.main_image"
								 alt="">
							<img *ngIf="!product.main_image" src="assets/images/Group%20167.png" alt="">
							<p>{{product.name}}</p>
							<div class="all-prices">
								<div class="price">
									<p>Розничная цена</p>
									<p>{{product.price! * (sale.discount / 100)}}</p>
								</div>
								<div class="price">
									<p>Оптовая цена</p>
									<p *ngIf="authService.isAuth">
										<span>{{product.price_opt! * (sale.discount / 100)}}</span>
									</p>
									<img routerLink="/auth/sign-in" matTooltip="Для просмотра неабходимо авторизоваться"
										 *ngIf="!authService.isAuth" src="assets/images/149848-80ae3bc5.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section__title">Видео-ролики</h2>
		<div class="section__info">
			<div class="videos">
				<div class="video-item">
					<iframe class="video-item__video"
							src="https://www.youtube.com/embed/RBHKle_yQGQ?si=a5qVqd1-WJTe8rey"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					<div class="video-item__name">ПТГ Центр Сантехники на выставке MosBuild</div>
				</div>

			</div>
		</div>
	</div>
</div>
