<div class="container">
	<div class="sidenav">
		<div class="sector">
			<p class="sector__title">Каталог</p>
			<p class="sector__item">Смесители для умывальника</p>
			<p class="sector__item">Смесители для кухонной мойки</p>
			<p class="sector__item">Смесители для ванной комнаты и душевых кабин</p>
			<p class="sector__item">Комплектующие для смесителей</p>
			<p class="sector__item">Душевые системы</p>
			<p class="sector__item">Душевые стойки</p>
			<p class="sector__item">Душевые шланги</p>
			<p class="sector__item">Гибкая подводка для воды и смесителей</p>
		</div>

		<div class="sector">
			<p class="sector__title">Тип</p>
			<p class="sector__item">Для ванной и умывальника</p>
			<p class="sector__item">Для душевых комнат и кабин</p>
			<p class="sector__item">Для мойки и умывальника</p>
			<p class="sector__item">Для мойки и умывальника настенный</p>
			<p class="sector__item">Кран водоразборный</p>
		</div>
	</div>

	<div class="content">
		<router-outlet></router-outlet>
	</div>


</div>
