<div class="container">
	<div class="about-company ">
		<div class="map">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1718112842cc3958db9752f5ea419c6477185d651804633f17a0a1f5fef42e48&amp;source=constructor" width="558" height="408" frameborder="0"></iframe>
		</div>
		<div class="address">
			<img width="1032" height="647" src="/assets/images/Default3.png">
			<div class="text">
				<h1>О компании</h1>
				<h4 class="u-align-center u-hidden-md u-hidden-sm u-hidden-xs u-text u-text-white u-text-2">
					Производственно-Торговая группа (ПТГ) «Центр Сантехники» <br>
					<br>Россия,142023, Московская область, г.о. Подольск пос. Сельхозтехника, Домодедовское шоссе, д. 20 «Д» , стр. 29  <br>тел. +7&nbsp;495&nbsp;775
					7017 (многоканальный).
				</h4>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section__title">ПРОИЗВОДСТВЕННО-ТОРГОВАЯ ГРУППА «ЦЕНТР САНТЕХНИКИ»</h2>

		<div class="section__multiple-info">
			<div class="section__left-side">
				<p>
					<span>Год создания:</span>
					2000
					<br>
					<span>Вид владения:</span> частная собственность
					<br>
					<span>Сфера деятельности:</span> производство и сбыт смесителей и сантехнических, водоразборных изделий
					<br>
					<span>Виды продукции:</span>
					<br>
					- бытовые смесители для ванны и кухни
					<br>
					- водоразборная арматура
					<br>
					- комплектующие для смесителей
					<br>
					- фурнитура для смесителей
					<br>
					- запорные элементы для смесителей
					<br>
					- пластиковые душевые лейки и кронштейны
					<br>
					- шланги душевые: металлорукав с присоединительными фитингами ( металлические душевые шланги).
					<br>
					<span>Годовой объем выпуска продукции:</span> более 1 млн. единиц.
				</p>
			</div>
			<div class="section__right-side">
				<img src="assets/images/image111.png" alt="">
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section__title">СЕРВИС: ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ, ДОСТАВКА ПРОДУКЦИИ ДО ПОТРЕБИТЕЛЯ </h2>
		<div class="section__info">
			<p>Количество персонала: 80 человек.
				<br>
				Охватываемая территория: вся территория бывшего СССР и ближнего зарубежья.
				<br>
				<br>
				С первых лет своего существования, ПТГ «ЦС» — вошла в число лидеров торговли сантехническими изделиями в России. В дальнейшем тенденции российского рынка отразились на выборе направления развития — ассортимент Торговой группы был значительно увеличен, <br>за счет включения широкой гаммы сантехники для ванной комнаты и кухни.
				<br>
				Приоритетным направлением бизнеса стало собственное производство сантехнических изделий.
				<br>
				В 2004 году компания приобрела парк литейных машин, и металлообрабатывающие станки. После частичной модернизации оборудования, совместно с Пермским предприятии ЛМЗ №16, было запущенно литьё корпусов для бытовых смесителей, типа;
				<br>
				См-ВУДРНШлр для ванны
				<br>
				См-МДЦБА для моек и умывальников
				<br>
				Механическая обработка, а так же гальваническое покрытие корпусов, производятся на площадках предприятий партнеров. На базе производственно—складского комплекса Компании «ВОКС-21 век» — было организованно сборочное производство смесителей для ванны и кухни.
			</p>

			<div class="section__images">
				<img src="assets/images/image13.png" alt="">
				<img src="assets/images/image14.png" alt="">
				<img src="assets/images/image12.png" alt="">
				<img src="assets/images/image15.png" alt="">
			</div>

			<p >Под торговой маркой «ЦС» — совместно с другими Российскими заводами выпускаются смесители, технически изготовленные с учетом особенностей Российского рынка. Полностью ремонтопригодные в Российских условиях, с возможностью использования запчастей, выпускаемых Российскими сантехническими заводами в соответствии с ГОСТ 25809-96, ГОСТ 19681-94. ТУ 4951-001-52710068-2007.
				<br>
				В 2010 — 2011 году произведена модернизация литейного и сборочного производства.
				<br>
				Это позволило компании выйти на новый уровень производственных мощностей.
				<br>
				Объем выпуска в год изделий приблизился к следующим цифрам: 350 тыс. сантехнических изделий и 700 тыс. смесителей.
				<br>
				В 2011 году ПТГ « Центр Сантехники» приобрела парк термопласт автоматов.
				<br>
				Наладили выпуск душевой лейки, держатель лейки и ручки маховика для смесителя.
				<br>
				Так же в 2011 году приобрели оборудование для навивки металлорукава. Наладили производство металлического душевого шланга.
				<br>
				Все изделия ПТГ «Центр Сантехники» проходят тщательный многоуровневый контроль.
				<br>
				Собранный смеситель проверяется на проверочном стенде под давлением 1,6 МПа.
				<br>
				Комплектующие к смесителю имеющие резьбовые элементы, механизмы с подвижными элементами — проходят контроль на тарированном специальном оборудовании.
				<br>
				На каждый смеситель после проверки наклеивается специальной защитная марка и гравируется видимой только под специальным освещением датой производства.
				<br>
				Вся продукция упаковывается в фирменную индивидуальную упаковку — гофрокоробка с фирменным знаком ПТГ « Центр Сантехники».К каждому смесителю прилагается паспорт, с отметкой ОТК и датой производства.
				<br>
				ПТГ « Центр Сантехники» — сотрудничает со страховой компанией «Ингосстрах». Каждый смеситель застрахован.
				<br>
				ПТГ « Центр Сантехники» — реализует все комплектующие и запасные элементы для своих смесителей. Специальное предложение комплектующие в блистере.
				<br>
				На все изделия возможно нанесение штрихкод.
				<br>
				<br>
				Легкость монтажа, безопасность, экономия воды и приемлемая стоимость делают смесители «ЦС» привлекательными для любого покупателя. Изделия фирмы — это залог надежности и продолжительной службы в сочетании с великолепным дизайном, а о качестве Вы будете вспоминать и после того, когда забудете цену и год выпуска!
				<br>
				Почувствуйте удовольствие ,которое дарят Вам смесители «ЦС» !
			</p>
		</div>
		<div class="section__right-side"></div>
	</div>
	<div class="section">
		<h2 class="section__title">ДИПЛОМЫ</h2>
		<div class="section__info">
			<div class="section__images_dip">
				<img src="assets/images/image25.png" alt="">
				<img src="assets/images/image26.png" alt="">
				<img src="assets/images/image27.png" alt="">
				<img src="assets/images/image28.png" alt="">
				<img src="assets/images/image29.png" alt="">
				<img src="assets/images/image31.png" alt="">
				<img src="assets/images/image30.png" alt="">
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section__title">ТЕХНИЧЕСКАЯ ДОКУМЕНТАЦИЯ</h2>
		<div class="section__info">
			<div class="section__images_dip tech">
				<img src="assets/images/tech_doc(1).png" alt="">
				<img src="assets/images/tech_doc(2).png" alt="">
				<img src="assets/images/tech_doc(3).png" alt="">
				<img src="assets/images/tech_doc(4).png" alt="">
				<img src="assets/images/tech_doc(5).png" alt="">
				<img src="assets/images/tech_doc(6).png" alt="">
				<img src="assets/images/tech_doc(7).png" alt="">
				<img src="assets/images/tech_doc(8).png" alt="">
			</div>
		</div>
	</div>

</div>
