<div (click)="back()" class="back">
	<p>Вернуться назад</p>
	<img src="assets/images/Group93.png" alt="">
</div>

<div *ngIf="!subCategory" class="sub-categories">

	<ng-container *ngFor="let sCategory of subCategories.get(mainCategory)">
		<div (click)="getProductsBySubCategory(sCategory.subCategory)" class="sub-category">
			<div class="sub-category__image">
				<img src="assets/images/{{sCategory.img}}" alt="">
			</div>
			<div class="sub-category__name">{{sCategory.title}}</div>
		</div>
	</ng-container>


</div>

<div class="products">
	<ng-container *ngFor="let product of products">
		<div (click)="openProduct(product.guid)" class="product">
			<img src="assets/images/example.jpg" alt="">

			<p>{{product.name}}dsfsdf dsfs df sdf sdf sd f</p>

			<div class="all-prices" >
				<div class="price">
					<p>Розничная цена</p>
					<p>{{product.price}}</p>
				</div>
				<div class="price">
					<p>Оптовая цена</p>
					<p *ngIf="!authService.isAuth"><span>{{product.price_opt}}</span></p>
					<img routerLink="/auth/sign-in" matTooltip="Для просмотра неабходимо авторизоваться" *ngIf="authService.isAuth" src="assets/images/149848-80ae3bc5.png" alt="">
				</div>
			</div>

		</div>
	</ng-container>

	<mat-paginator class="custom-paginator"
				   (page)="handlePageEvent($event)"
				   [length]="totalCount"
				   [pageSize]="limit"
				   [pageSizeOptions]="[10,20,50]"
				   [pageIndex]="pageIndex"
				   [showFirstLastButtons]="true"


				   aria-label="Выбрать страницу">
	</mat-paginator>
</div>
