<div class='container'>
	<form [formGroup]='registrationForm' class='form'>
		<h1>Регистрация</h1>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>ФИО</mat-label>
				<input formControlName='fio' required matInput type='text'>
			</mat-form-field>
		</div>

		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Телефон</mat-label>
				<input formControlName='phone' required matInput type='text'>
			</mat-form-field>
		</div>

		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Почта</mat-label>
				<input formControlName='email' required matInput type='text'>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Компания</mat-label>
				<input formControlName='company' required matInput type='text'>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>ИНН</mat-label>
				<input formControlName='inn' required matInput type='text'>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Тип торговли</mat-label>
				<input formControlName='typeTrade' required matInput type='text'>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Продукция</mat-label>
				<input formControlName='products' required matInput type='text'>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<mat-form-field appearance='outline' class='example-form-field'>
				<mat-label>Поле для письма</mat-label>
				<textarea formControlName='message' required matInput type='text'></textarea>
			</mat-form-field>
		</div>
		<div class='input-field input-field--medium'>
			<div class="approve">
				<mat-checkbox formControlName='approve' class="approve-checkbox"></mat-checkbox>
				<p>Я согласен на обработку моих персональных данных в соответствии с <span (click)="openDialog($event)" class="approve-text">Условиями </span></p>
			</div>
		</div>


		<div class='btn'>
			<button (click)='back()' mat-raised-button type='button'>Назад</button>
			<button
				[disabled]='registrationForm.invalid'
				mat-raised-button
				type='button' color='primary'
				(click)='registration()'
			>
				Зарегистрироваться
			</button>

		</div>

	</form>
</div>

