<div class="container">
	<form class="form ">
		<h1>Регистрация</h1>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>ФИО</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>

		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Телефон</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>

		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Почта</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Компания</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>ИНН</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Тип торговли</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Продукция</mat-label>
				<input required matInput type="text">
			</mat-form-field>
		</div>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label>Поле для письма</mat-label>
				<textarea required matInput type="text"></textarea>
			</mat-form-field>
		</div>

		<div class="btn">
			<button mat-raised-button type="button" color="primary">Зарегистрироваться</button>
		</div>

	</form>
</div>

