.container {
	position: relative;
	min-height: 100%;
	background-image: linear-gradient(#f0f1f4, #132152);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	width: 500px;
	background-color: #3E4E86;

	padding: 20px 40px;
	color: white;

	h1{
		text-align: center;
		color: white;
		font-weight: 400;
		margin-bottom: 20px;
	}
	.input-field{
		margin-bottom: 20px;

		textarea{
			height: 100px;
			resize: none;
		}
	}

	.btn{
		margin-top: 20px;
		float: right;

		button{
			margin-left: 10px;
			background-color: #7289D9;
		}
	}
}

