<div class="container">
	<div class="header">
		<div class="header__image">
			<img src="assets/images/Rectangle15.png">
		</div>
		<div class="header__title">
			<img width="1032" height="647" src="/assets/images/Default3.png">
			<div class="text">
				<h1>Гарантийное обязательство</h1>
			</div>
		</div>
	</div>


	<div class="section">
		<h2 class="section__title">ГАРАНТИЙНОЕ ОБЯЗАТЕЛЬСТВО</h2>
		<div class="section__info">
			<p>
				ПТГ Центр Сантехники устанавливает гарантийный срок эксплуатации в течение 2 лет, с даты продажи.
				<br>
				Выполнение бесплатного ремонта дефектного изделия осуществляется при соблюдении следующих условий.
				<br>
				<br>
				Изделие должно использоваться только в бытовых целях в соответствии с инструкцией.
				<br>
				<br>
				Подключение к водопроводной сети осуществляется через фильтры,
				<br>
				исключающие попадание механических примесей (абразивных частиц) внутрь изделия.
				<br>
				Монтаж смесителей должен производится лицами уполномоченными для проведения таких работ,
				<br>
				дипломированными специалистами.
				<br>
				<br>
				Ограничения по гарантии:
				<br>
				Гарантия не распространяется на смесители неисправность которых, вызвана:
				<br>
				1. Транспортными повреждениями, небрежным отношением, плохим уходом, не правильным использованием.
				<br>
				2. Не правильным монтажом, с причинением механических повреждений.
				<br>
				3. Механическим повреждением,полученным в результате неправильной эксплуатации (трещины, сколы, царапины
				и т.п.)
				<br>
				4. Неквалифицированным ремонтом или установкой, в том числе неуполномоченными лицами.
				<br>
				5. независящими от производителя причинами (перепады давления в водопроводной сети, пожар, плохое
				качество воды и т.п.)
				<br>
				<br>
				Неисправные узлы изделия в гарантийный период бесплатно ремонтируются или заменяются новыми.
				<br>
				Решение вопроса о целесообразности их замены или ремонта остается за службой сервиса.
				<br>
				<br>
				По завершении срока обслуживания мы также всегда готовы помочь нашим клиентам.
				<br>
				Более подробно об условиях гарантийного и послегарантийного обслуживания Вы можете узнать в нашем
				сервисном центре:
				<br>
				<br>
				Телефон: +7 (495) 3832808
				<br>
				E-mail: info@cs-trade.com
			</p>
		</div>
	</div>

</div>
