<div class="categories">
	<div (click)="navigateToCategory('Поворотный')" class="category">
		<img height="270" width="207" src="assets/images/1.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/2.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/3.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/4.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/51.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/6.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/7.png" alt="">
	</div>
	<div class="category">
		<img height="270" width="207" src="assets/images/Group124.png" alt="">
	</div>
</div>
