<div class="categories">
	<div (click)="navigateToCategory('Для умывальника')" class="category">
		<img height="270" width="207" src="assets/images/1.png" alt="">
	</div>
	<div (click)="navigateToCategory('Для кухни')" class="category">
		<img height="270" width="207" src="assets/images/2.png" alt="">
	</div>
	<div (click)="navigateToCategory('Смесители для ванной комнаты и душевых кабин')" class="category">
		<img height="270" width="207" src="assets/images/3.png" alt="">
	</div>
	<div (click)="navigateToCategory('Комплектация')" class="category">
		<img height="270" width="207" src="assets/images/4.png" alt="">
	</div>
	<div (click)="navigateToCategory('Душевая система')" class="category">
		<img height="270" width="207" src="assets/images/51.png" alt="">
	</div>
	<div (click)="navigateToCategory('Душевая стойка')" class="category">
		<img height="270" width="207" src="assets/images/6.png" alt="">
	</div>
	<div (click)="navigateToCategory('Шланг душевой')" class="category">
		<img height="270" width="207" src="assets/images/7.png" alt="">
	</div>
	<div (click)="navigateToCategory('Гибкие соединения')" class="category">
		<img height="270" width="207" src="assets/images/Group124.png" alt="">
	</div>
</div>
