<div class="container">
	<form [formGroup]="authForm" class="form ">
		<h1>Авторизация</h1>
		<div class="input-field input-field--medium">
			<mat-form-field appearance="outline" class="example-form-field">
				<mat-label >Логин</mat-label>
				<input formControlName="login" required matInput type="text" >
			</mat-form-field>
		</div>

		<div class="input-field input-field--medium">
			<mat-form-field  appearance="outline" class="example-form-field">
				<mat-label >Пароль</mat-label>
				<input formControlName="password"  required matInput type="text" >
			</mat-form-field>
		</div>
		<span *ngIf="!isLogin">Неверный логин или пароль</span>

		<div class="btn">
			<a routerLink="/auth/registration" ><button mat-raised-button  type="button" color="primary">Регистрация</button></a>
			<button mat-raised-button (click)="login()" type="button" color="primary">Войти</button>
		</div>

	</form>
</div>

